<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        <label for="email" , id="email">Email:</label>
        <input type="email" name="email" value="<%= email %>" id="email" disabled />
        <br />
        <label for="password" , id="password">New Password:</label>
        <input type="password" name="password" id="password" />
        <br />
        <label for="password2" , id="password2">Confirm Password:</label>
        <input type="password" name="password2" id="password2" />
        <br />
        <input type="submit" value="Submit" />
    </form>
</body>

</html>